[user]
  name = Andrew Benson
  email = adbenson@cmu.edu
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  autocrlf = input
  filemode = false
[color]
  ui = true
[alias]
  lg = log --graph --pretty=format:'%Cgreen%h%Creset -%Cred%d%Creset %s %Cblue(%cd) <%an>%Creset' --abbrev-commit --date=local
  s = status
  c = commit
  a = add
[push]
  default = simple
[pull]
  rebase = true
[diff]
  tool = kdiff3
