.*.swp
.*_history
.bash_logout
.bash_profile
.bashrc
.cache/
.compiz/
.config/
.cpan/
.dbus/
.dropbox-dist/
.dropbox/
.ecryptfs
.gconf/
.gem/
.gitk
.gksu.lock
.gradle/
.grip/
.gstreamer-0.10/
.heroku/
.icons/
.idlerc/
.inputrc
.lesshst
.local/
.macromedia/
.mozilla/
.netrc
.npm/
.pip/
.pki/
.profile
.rvm/
.ssh/*
!.ssh/config
.subversion/
.thunderbird/
.vim/
.xsession-errors
.xsession-errors.old
.viminfo
.zlogin
.zshrc

.ICEauthority
.Private
.Skype/
.Xauthority

Downloads/
Dropbox/
VirtualBox\ VMs/
examples.desktop
