[user]
  name = Andrew Benson
  email = adbenson@cmu.edu
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  autocrlf = input
  filemode = false
[color]
  ui = true
[alias]
  lg = log --graph --pretty=format:'%Cgreen%h%Creset -%Cred%d%Creset %s %Cblue(%cd) <%an>%Creset' --abbrev-commit --date=local
  dag = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  s = status
  c = commit
  a = add
[push]
  default = simple
[pull]
  rebase = true
