"*":
  "autocomplete-plus":
    confirmCompletion: "tab"
    useCoreMovementCommands: false
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "welcome"
    ]
    telemetryConsent: "no"
  editor:
    atomicSoftTabs: false
    fontFamily: "Source Code Pro"
    fontSize: 16
    scrollPastEnd: true
    showIndentGuide: true
  "find-and-replace":
    closeFindPanelAfterSearch: true
    openProjectFindResultsInRightPane: true
    scrollToResultOnLiveSearch: true
  "git-diff":
    showIconsInEditorGutter: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "one-dark-ui":
    tabSizing: "Even"
  tabs:
    enableVcsColoring: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
